:root {

    /* Color Palette */
    --primary-light: #fce138;
    --secondary-light: #024e76;
    --tertiary-light: #39a6b2;

    /* TODO: dark palette */
    /* --primary-dark: ; */
    /* --secondary-dark: ; */
    /* --tertiary-dart: ; */

    --text-light: var(--secondary-dark);
    --text-dark: #fff;

    --form-neutral: rgba(255, 255, 255, 0.75);
    --form-focused: rgba(255, 255, 255, 1   );

    --shadow-color: rgba(0, 0, 0, 0.5);

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--tertiary-light);
}

header {
    padding: 1.25rem 2.1875rem;
    background-color: var(--tertiary-light);
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 2.25rem;
    color: var(--primary-light);
    margin: 0;
    text-shadow: 0 0 10px var(--shadow-color);
}

header a { 
    text-decoration: none;
    color: var(--primary-light);
}

header nav {
    margin: .4375rem 0 ;
    display: flex;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px var(--shadow-color);
}

header nav ul li a:hover {
    background: var(--primary-light);
    color: var(--secondary-light);
    border-radius: 15px;
    text-shadow: none;

}

footer {
    background: var(--primary-light);
    width: 100%;
    padding: 2.5rem 2.1875rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: var(--secondary-light);
    font-size: 1.875rem;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: var(--secondary-light);
}


/* Utility Classes */
/* to link to the top of the page */
.top-link {
    text-decoration: none;
    font-size: 3rem;
    font-weight: lighter;
    color: var(--secondary-light);
    position: absolute;
    right: 2rem;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.flex-row {
    display: flex;
}

.primary-border {
    border-color: var(--primary-light);
}

.secondary-border {
    border-color: var(--tertiary-light);

}


/* SECTION RULES */
section {
    padding: 3.75rem;
}

.section-title {
    font-size: 3rem; /* <- 48px */
    color:var(--secondary-light);
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35PX;
    width: 50%;
}


/* HERO / JUMBOTRON SECTION */
.hero {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: var(--text-dark);
    font-size: 18px;
    line-height: 1.2;
}

.hero-cta h2 {
    font-style: italic;
    font-size: 55px;
    color:var(--primary-light);
    text-shadow: 0 0 10px var(--shadow-color);
}

.hero-form {
    background-color: rgba(252, 225, 56, 0.8);
    border: 3px solid var(--secondary-light);
    padding: 1.25rem;
    color: var(--secondary-light);
    width: 40%;
    margin: 3.5%;
    box-shadow: 0 0 10px var(--shadow-color);
    border-radius: 15px;
}

.hero-form h3 {
    font-size: 1.5rem;
    margin: 0;
}

.hero-form p {
    margin: .3125rem 0 .9375rem 0;
}

.hero-form label {
    margin: 0 .3125rem;
}

.form-input {
    background-color: var(--form-neutral);
    display: block;
    border: 1px solid var(--secondary-light);
    border-radius: 10px;
    padding: 7px 15px;
    width: 100%;
    margin-bottom: .9375rem;
    font-size: 1rem;
    color:var(--secondary-light);
}

.form-input:focus {
    background-color: var(--form-focused);
    outline: none;
}

.hero-form button {
    color: var(--primary-light);
    background-color: var(--secondary-light);
    border: none;
    padding: .625rem 1.25rem;
    font-size: 1rem;
    border-radius: 10px;
}

.hero-form button:hover {
    background: var(--tertiary-light);
}

.checkbox-wrapper input,
.radio-wrapper input{
    opacity: 0;
}
.checkbox-wrapper label, 
.radio-wrapper label {
    position: relative;
    left: 10px;
    margin: 10px;
    line-height: 1.6;
}

.checkbox-wrapper label::before,
.radio-wrapper label::before {
    content: "";
    height: 20px;
    width: 20px;
    background: var(--form-neutral);
    border: 1px solid var(--secondary-light);
    position: absolute;
    top: -4px;
    left: -30px;
}

.radio-wrapper label::before {
    border-radius: 50%;
}

.radio-wrapper label::after {
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: var(--secondary-light);
    position: absolute;
    left: -28px;
    top: -2px;
    border-radius: 50%;
    background-image: radial-gradient(circle, var(--tertiary-light), var(--secondary-light));
}

.checkbox-wrapper label::after {
    content: "";
    height: 6px;
    width: 14px;
    position: absolute;
    border-left: 2px solid var(--secondary-light);
    border-bottom: 2px solid var(--secondary-light);
    left: -27px;
    top: 1px;
    transform: rotate(-58deg);
}

.checkbox-wrapper input + label::after, 
.radio-wrapper input + label::after{
    content: none; 
}

.checkbox-wrapper input:checked + label::after, 
.radio-wrapper input:checked + label::after {
    content: "";
}

.checkbox-wrapper input:checked + label,
.radio-wrapper input:checked + label {
    font-weight: bold;
}


/* WHAT WE DO SECTION */
.intro p {
    line-height: 1.7;
    color: var(--tertiary-light);
    width: 80%;
    font-size: 1.25rem; /* 20px */
    margin: 0 auto;
    text-align: center;
}    


/* WHAT YOU DO SECTION */
.steps {
    background: var(--primary-light);
}    

.step {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.step:not(:nth-last-child(-n+2)) {
    border-bottom: 1px solid var(--tertiary-light);
}

.step h3 {
    color: var(--secondary-light);
    font-size: 2.875rem; /* 46px */
    margin-top: .625rem;
    flex: 1 30%;
}    

.step-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.step-img {
    flex: 1 12%;
    margin-right: 20px;
}

.step-img img {
    max-width: 100%;
}

.step-text {
    flex: 12;
}

.step-text p {
    color: var(--tertiary-light);
    font-size: 1.125rem; /* 18px */
}    

.step-text h4 {
    font-size: 26px;
    line-height: 1.5;
    color: var(--secondary-light);
}


/* MEET THE TRAINERS SECTION */
.trainers {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.trainer { /* trainer article tag */
    margin: 20px; /* auto centers it */
    background:var(--secondary-light);
    color: var(--primary-light);
    border-radius: 1rem;
    flex: 1;
}

.trainer img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.trainer-bio {
    padding: 1.5625rem;
    line-height: 1.3;
}

.trainer-bio h3 {
    font-size: 1.75rem;
}

.trainer-bio h4 {
    font-weight: lighter;
    font-size: 1.375rem;
    margin-bottom: .9375rem;

}

.trainer-bio p {
    font-size: 1.0625rem;
}


/* REACH OUT SECTION */
.contact {
    background-color: var(--secondary-light);
}

.contact h2 {
    color: var(--primary-light);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info > * {
    flex: 1;
    margin: .9375rem;
}

.contact-info iframe {
    height: 400px;
}

.contact-info div {
    color: var(--text-dark);

}

.contact-info h3 {
    color: var(--primary-light);
    font-size: 2rem;
}

.contact-info p,
.contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 1rem;
    font-style: normal;
}

.contact-info a {
    color: var(--primary-light);
}

.contact-form input,
.contact-form textarea {
    border: 1px solid var(--secondary-light);
    display:block;
    padding: 7px 15px;
    font-size: 1rem;
    background-color: var(--form-neutral);
    color: var(--secondary-light);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    background-color: var(--form-focused);
    outline: none;
}

.contact-form button {
    width: 100%;
    border: none;
    background: var(--primary-light);
    color: var(--secondary-light);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
}

.contact-form button:hover {
    color: var(--primary-light);
    background: var(--tertiary-light);
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

    header {
        position: relative;
        padding-bottom: 0;
        justify-content: center;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer h2, 
    footer div {
        text-align: center;
        width: 100%;
    }

    .hero-cta, 
    .hero-form { 
        width: 100%; 
    }

    .hero-cta { 
        text-align: center; 
    }

    /* wider on a smaller screen */
    .section-title { 
        width: 80%; 
    } 

    /* confine width */
    .trainer { 
        flex: 0 70%; 
    }

    .contact-info iframe { 
        flex: 1 100%; 
    }
}


/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

    section { 
        padding: 30px 15px; 
    }

    .step h3 {
        flex: 1 100%;
        text-align: center;
    }

    .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }

    .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    } 

    .step-text {
        /* finally pushed all elements in column */
        flex: 100%;
    }
}


/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

    .hero-form button {
        width: 100%;
    }

    .section-title { 
        width: 95%; 
    }

    .intro p {
        width: 100%;
    }

    .trainer {
        flex: 0 100%;
    }
    
    .contact-info {
        text-align: center;
    }
    
    .contact-info > * {
        flex: 0 100%;
    }

    .contact-form { 
        order: 3;
    }

}