

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #39a6b2;
}

header {
    padding: 1.25rem 2.1875rem;
    background-color: #39a6b2;
}

header h1 {
    display: inline-block;
    font-weight: bold;
    font-size: 2.25rem;
    color: #fce138;
    margin: 0;
}

header a { 
    text-decoration: none;
    color: #fce138;
}

header nav {
    float: right;
    margin: .4375rem 0 ;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 1.875rem;
    font-weight: lighter;
    font-size: 1.375rem;
}

footer {
    background: #fce138;
    width: 100%;
    padding: 2.5rem 2.1875rem;
}

footer h2 {
    display: inline;
    color: #024e76;
    font-size: 1.875rem;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: #024e76;
}

section {
    padding: 3.75rem;
}

.hero {
    position: relative;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 37.5rem;
}

.hero-form {
    position: absolute;
    /* left: 50%; */
    /* bottom: 0;
    right: 0; */
    bottom: 120px;
    right: 140px;
    background-color: #fce138;
    border: 3px solid #024e76;
    padding: 1.25rem;
    width: 31.25rem;
    color: #024e76;
}

.hero-form h3 {
    font-size: 1.5rem;
    margin: 0;
}

.hero-form p {
    margin: .3125rem 0 .9375rem 0;
}

.hero-form label {
    margin: 0 .3125rem;
}

.form-input {
    display: block;
    border: 1px solid #024e76;
    width: 100%;
    margin-bottom: .9375rem;
    font-size: 1rem;
    color:#024e76;
}

.hero-form button {
    color: #fce138;
    background-color: #024e76;
    border: none;
    padding: .625rem 1.25rem;
    font-size: 1rem;
}

.intro {
    text-align: center;
}



.intro p {
    line-height: 1.7;
    color: #39a6b2;
    width: 80%;
    font-size: 1.25rem; /* 20px */
    margin: 0 auto;
}

.steps {
    text-align: center;
    background: #fce138;
}

.steps div {
    margin-bottom: 5rem; /* 80px */
}

.steps img {
    width: 15%;
    margin: .625rem; /* 10px */
}

.steps h3 {
    color: #024e76;
    font-size: 2.875rem; /* 46px */
    margin-top: .625rem;
}

.steps p {
    color: #39a6b2;
    font-size: 1.4375rem; /* 23px */
}

.steps span {
    font-size: 1.75rem;
}

.section-title {
    font-size: 3.4375rem; /* <- 55px */
    color:#024e76;
    margin-bottom: 1.9375rem; /* 35px */
    padding: 0 6.25rem 1.25rem 6.25rem; /* 0 100px 20px 100px */
    border-bottom: 3px solid;
    
}

.primary-border {
    border-color: #fce138;
}

.secondary-border {
    border-color: #39a6b2;

}

.trainers {
    text-align: center;
}

.trainer { /* trainer article tag */
    /* display: flex; */
    /* overflow: auto; what magic is this?? */
    display: flow-root;
    width: 56.25rem;
    margin: 0 auto 1.875rem auto; /* auto centers it */
    background:#024e76;
    color: #fce138;
    border-radius: 1rem;
}

.trainer img {
    width: 35%;
    float: left;
    border-radius: 1rem;
}

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

.trainer-bio {
    padding: 2.1875rem;
    width: 65%;
    float: left;
}

.trainer-bio h3 {
    font-size: 2rem;
    margin-bottom: .5rem;
}

.trainer-bio h4 {
    font-weight: lighter;
    font-size: 1.625rem;
    margin-bottom: 1.5625rem;

}

.trainer-bio p {
    font-size: 1.0625rem;
    line-height: 1.3;
}
